<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn btn-outline-light btn-floating m-1 rounded-circle color"
        href="#!"
        role="button"
      >
        <i class="fa fa-facebook-official"></i>
      </a>

      <!-- Twitter -->
      <a
        class="btn btn-outline-light btn-floating m-1 rounded-circle color"
        href="#!"
        role="button"
        ><i class="fa fa-twitter"></i
      ></a>

      <!-- Google -->
      <a
        class="btn btn-outline-light btn-floating m-1 rounded-circle color"
        href="#!"
        role="button"
        ><i class="fa fa-google"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn btn-outline-light btn-floating m-1 rounded-circle color"
        href="#!"
        role="button"
        ><i class="fa fa-instagram"></i
      ></a>

      <!-- Github -->
      <a
        class="btn btn-outline-light btn-floating m-1 rounded-circle color"
        href="#!"
        role="button"
        ><i class="fa fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>¡Inscríbete a nuestra newsletter!</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example21" class="form-control" />
              <label class="form-label" for="form5Example21"
                >Ingresa tu correo electrónico</label
              >
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4 color">
              Suscribirse
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-4">
      <hr />
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">EMPRESA</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Acerca de</a>
            </li>
            <li>
              <a href="#!" class="text-white text-end">Empleo</a>
            </li>
            <li>
              <a href="#!" class="text-white">For the Record</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">COMUNIDADES</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Para Artistas</a>
            </li>
            <li>
              <a href="#!" class="text-white">Desarrolladores</a>
            </li>
            <li>
              <a href="#!" class="text-white">Publicidad</a>
            </li>
            <li>
              <a href="#!" class="text-white">Inversores</a>
            </li>
            <li>
              <a href="#!" class="text-white">Proveedores</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">ENLACES ÚTILES</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Asistencia</a>
            </li>
            <li>
              <a href="#!" class="text-white">Reproductor web</a>
            </li>
            <li>
              <a href="#!" class="text-white">App gratis para el móvil</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">DESARROLLADORES</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Mario Medina</a>
            </li>
            <li>
              <a href="#!" class="text-white">Luis Guisado</a>
            </li>
            <li>
              <a href="#!" class="text-white">Miguel Palomino</a>
            </li>
            <li>
              <a href="#!" class="text-white">Romel Zela</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    <i class="fa fa-code"></i> with <i class="fa fa-heart"></i> for<span
      id="kreitek"
      class="badge rounded-pill bg-primary m-1"
      >Kreitek</span
    >by <span class="badge rounded-pill bg-success">Equipo Verde</span>
    <span class="badge rounded-pill bg-primary m-1">Grupo 1</span>
    © 2022 Copyright
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
