.color:hover {
    background-color: rgb(141, 88, 134);

}

#kreitek {
    background-color: rgb(255, 66, 214) !important;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
}

li a:hover{
    color: rgb(141, 88, 134) !important;
}