<h1>SONG FORM</h1>

<form
  *ngIf="song"
  #songForm="ngForm"
  name="songForm"
  role="form"
  novalidate
  autocomplete="off"
>
  <!-- Id: solo visible si estamos en edición (pero no será editable) -->
  <div class="form-group">
    <label for="id">Id</label>
    <input
      disabled
      type="number"
      [(ngModel)]="song.id"
      name="id"
      class="form-control"
      id="price"
      #price="ngModel"
    />
  </div>

  <!-- Nombre -->
  <div class="form-group">
    <label for="name">Nombre</label>
    <input
      type="text"
      [(ngModel)]="song.name"
      name="name"
      class="form-control"
      id="name"
      #name="ngModel"
      required
      minlength="3"
      maxlength="100"
    />
  </div>
  <div *ngIf="name.dirty && name.errors">
    <small class="form-text text-danger" *ngIf="name.errors['required']">
      Este campo es requerido
    </small>
    <small class="form-text text-danger" *ngIf="name.errors['minlength']">
      Este campo tiene que tener una longitud mínima de 3 caracteres
    </small>
  </div>

  <!-- length -->
  <div class="form-group">
    <label for="length">Duración</label>
    <input
      type="number"
      [(ngModel)]="song.length"
      name="length"
      class="form-control"
      id="length"
      #description="ngModel"
      maxlength="2000"
    />
  </div>

  <!-- release_date -->
  <div class="form-group">
    <label for="release_date">Fecha de salida</label>
    <input
      type="text"
      [(ngModel)]="song.releaseDate"
      name="release_date"
      class="form-control"
      id="release_date"
      #description="ngModel"
      maxlength="2000"
    />
  </div>

  <!-- Id: solo visible si estamos en edición (pero no será editable) -->
  <div class="form-group">
    <label for="genreId">Id</label>
    <input
      disabled
      type="number"
      [(ngModel)]="song.genreId"
      name="genreId"
      class="form-control"
      id="genreId"
      #price="ngModel"
    />
  </div>

  <!-- Genre name -->
  <div class="form-group">
    <label for="genreId">Género</label>
    <p-autoComplete
      [(ngModel)]="selectedGenre"
      name="selectedGenre"
      [suggestions]="genres"
      (completeMethod)="getAllGenres($event)"
      field="name"
      (onSelect)="genreSelected()"
      (onClear)="genreUnselected()"
      [required]="true"
      [forceSelection]="true"
    ></p-autoComplete>
  </div>

  <!-- Id: solo visible si estamos en edición (pero no será editable) -->
  <div class="form-group">
    <label for="artistId">Id</label>
    <input
      disabled
      type="number"
      [(ngModel)]="song.artistId"
      name="artistId"
      class="form-control"
      id="artistId"
      #price="ngModel"
    />
  </div>

  <!-- Artist name -->
  <div class="form-group">
    <label for="artistId">Artista</label>
    <p-autoComplete
      [(ngModel)]="selectedArtist"
      name="selectedArtist"
      [suggestions]="artists"
      (completeMethod)="getAllArtists($event)"
      field="name"
      (onSelect)="artistSelected()"
      (onClear)="artistUnselected()"
      [required]="true"
      [forceSelection]="true"
    ></p-autoComplete>
  </div>

  <!-- Id: solo visible si estamos en edición (pero no será editable) -->
  <div class="form-group">
    <label for="albumId">Id</label>
    <input
      disabled
      type="number"
      [(ngModel)]="song.albumId"
      name="albumId"
      class="form-control"
      id="albumId"
      #price="ngModel"
    />
  </div>

  <!-- Album name -->
  <div class="form-group">
    <label for="albumId">Álbum</label>
    <p-autoComplete
      [(ngModel)]="selectedAlbum"
      name="selectedAlbum"
      [suggestions]="albums"
      (completeMethod)="getAllAlbums($event)"
      field="name"
      (onSelect)="albumSelected()"
      (onClear)="albumUnselected()"
      [required]="true"
      [forceSelection]="true"
    ></p-autoComplete>
  </div>

  <!-- AlbumImagen -->
  <div class="form-group">
    <label for="imagen">Imagen</label>
    <input
      type="file"
      id="image"
      class="form-control"
      id="imagen"
      (change)="includeImageInAlbum($event)"
    />
    <img *ngIf="song.albumImage" [src]="'data:image/webp;base64,' + song.albumImage" />
  </div>

  <div class="buttonsForm">
    <button (click)="saveSong()" [routerLink]="['/song']" [disabled]="songForm.invalid">Guardar</button>
  </div>
</form>
